.row {
    display: flex;
}

.justify {
    justify-content: space-between;
}

.col-1 {
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.question-article {
    margin: 0 10px;
}

.question-article header {
    text-align: center;
    background-color: #ffffd1;
    padding: 14px 0;
}

.question {
    background-color: #78b0f9;
    padding: 16px 0;
    margin: 15px 125px;
    border-radius: 23px;
    width: 242px;
    height: 250px;
}

.question > span, .question > div div {
    margin-top: 8px;
}

.question span {
    margin-top: 0;
}

.question > div {
    margin-left: 15px;
    margin-right: 15px;
}

.hidden { 
    visibility: hidden;
}

.display-none {
    display: none;
}

.gray { 
    background-color: #e6e6e6;
}

.puntaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 82px;
}

.red {
    background-color: red;
}

.green { 
    background-color: green;
}

.color-red {
    color: red;
}